/* 共通部分 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  height: 100vh;
  font-family: "Roboto", "Noto Sans JP", sans-serif;
  line-height: 1.7;
  color: rgb(88, 87, 87);
  background-color: rgb(254, 245, 227);
}

a {
  text-decoration: none;
}

/* Header */

.logo {
  margin-top: 14px;
  width: 75px;
}

.nav {
  display: flex;
  font-size: 1.2rem;
  text-transform: uppercase;
  margin-top: 34px;
  list-style: none;
  z-index: 1;
}

.nav__link {
  margin-left: 20px;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(255, 231, 238);
  min-width: 50px;
  font-size: 18px;
  font-weight: 400;
  transition: 0.3s;
}

.nav__link:hover {
  color: rgba(161, 223, 116, 0.699);
}

.nav__link i {
  display: none;
}

.main-nav li {
  margin-left: 36px;
}

.main-nav a {
  color: #432;
}

.main-nav a:hover {
  color: rgb(160, 223, 116);
}

.page-header {
  display: flex;
  justify-content: space-between;
}

.wrapper {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 4%;
}

/* Home */
.home-content {
  text-align: center;
  padding-top: 200px;
}

.home-content h3 {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1rem;
  margin: 10px 0 30px;
  color: rgb(255, 238, 210);
  font-weight: 400;
}

.home-content h4 {
  font-weight: bold;
  font-size: 22px;
  letter-spacing: 5px;
  color: rgba(161, 223, 116, 0.699);
  text-transform: uppercase;
}

/* 見出し */
.page-title {
  font-size: 3rem;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-weight: 1000;
  color: rgb(255, 238, 210);
  font-family: "Roboto", sans-serif;
}

/* ボタン */

.menu_nav {
  display: flex;
  justify-content: space-around;
}

.button {
  width: 200px;
  font-size: 1rem;
  font-weight: 80;
  color: rgb(253, 252, 252);
  background-color: rgba(117, 88, 67, 0.562);
  border: 1px solid #fff;
  padding: 5px 50px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 3px;
}

.button:hover {
  color: rgba(161, 223, 116, 0.699);
  opacity: 0.6;
}

#home {
  background-image: url(images/bg.jpg);
  background-size: cover;
  min-height: 100vh;
  background-position: center center;
}

/* CONCEPT */

#concept {
  background-image: url(images/bg.jpg);
  height: 270px;
  margin-bottom: 40px;
}

#concept .page-title {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* 記事部分 */
.concept-html {
  height: 1600px;
}

.concept-contents {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.post-info {
  padding-top: 4px;
  margin-bottom: 40px;
}

.post-title {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1rem;
  line-height: 36px;
  font-weight: 400;
  color: #754a3d;
  letter-spacing: 2px;
  text-align: center;
}

article {
  text-align: center;
}

article img {
  margin-bottom: 20px;
  width: 50%;
  height: 50%;
}

/* カルーセルメニュー */
.swiper-container {
  position: relative;
  overflow: hidden;
  padding: 20px 0;
  height: 40vw;
  max-height: 600px; //最大の高さ
  min-height: 400px; //最小の高さ

  .swiper-slide {
    text-align: center;
    line-height: 1;
    display: flex;
    align-items: flex-start; //画像の高さを統一させない
    justify-content: center; //左右の中央揃え

    img {
      display: inline; //念のため
      width: auto; //念のため
      max-width: 100%;
      max-height: 100%;
      align-self: center; //上下の中央揃え
    }
  }
  .swiper-button-white {
    &:focus {
      outline: none;
    }
  }
  .swiper-button-prev {
    left: 25px;
  }
  .swiper-button-next {
    right: 25px;
  }
}

@keyframes zoom {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
.swiper-slide-active .zoom img {
  animation: zoom 6s linear 0s 1 normal both;
}

@keyframes translate1 {
  0% {
    transform: scale(1.07) translate(0, 0);
  }
  100% {
    transform: scale(1.07) translate(3%, 2%);
  }
}

.swiper-slide-active .translate1 img {
  animation: translate1 6s linear 0s 1 normal both;
}

@keyframes translate2 {
  0% {
    transform: scale(1.05) translate(1%, 2%);
  }
  100% {
    transform: scale(1.1) translate(-2%, -3%);
  }
}

.swiper-slide-active .translate2 img {
  animation: translate2 6s linear 0s 1 normal both;
}

/* Menu */
.menu-body {
  height: 1400px;
}

#menu {
  background-image: url(images/bg.jpg);
  height: 270px;
  margin-bottom: 40px;
}

#menu .page-title {
  text-align: center;
  font-family: "Roboto", "Noto Sans JP", sans-serif;
  color: rgb(118, 74, 60);
  font-size: 30px;
  font-weight: 500;
}

.menu-subtitle {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1rem;
  line-height: 36px;
  font-weight: 400;
  color: #754a3d;
  letter-spacing: 2px;
  text-align: center;
}

.menu-img {
  background-image: url(images/nagomi1.jpg);
  background-size: cover;
  background-position: center center;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}

.menu-main {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  background: rgba(255, 255, 255, 0.6);
  padding-bottom: 20px;
}

.menu-main h2 {
  font-family: "Noto Sans JP", sans-serif;
  padding-top: 30px;
  font-size: 30px;
  color: #754a3d;
  line-height: 39px;
  font-weight: 500;
}

.menu-list__line {
  margin: 30px 0;
  padding-top: 30px;
  list-style: none;
  border-bottom: 1px solid #8f7a6b;
}

.text-lg {
  font-size: 1.2rem;
  margin: 0 0 10px;
}

b {
  font-weight: 700;
  color: #754a3d;
}

.layout-table {
  display: table;
  width: 100%;
}

.layout-table__description {
  font-size: 1.3rem;
  color: #754a3d;
  font-weight: bold;
  text-align: right;
}

.option-description {
  font-size: 14px;
}

/* Contact */

#place {
  background-image: url(images/bg.jpg);
  height: 270px;
  margin-bottom: 40px;
}

#place .page-title {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* 店舗情報 */

#location {
  padding: 4% 0;
}

#location .wrapper {
  display: flex;
  justify-content: space-between;
}

.location-info {
  width: 22%;
}

.location-info p {
  padding: 12px 10px;
}

.location-map {
  width: 74%;
}

iframe {
  width: 100%;
}

/* Sns */

#sns {
  background: #faf7f0;
  padding: 4% 0;
}

#sns .wrapper {
  display: flex;
  justify-content: space-between;
}

#sns .sub-title {
  margin-bottom: 30px;
}

.sns-box {
  margin: 0 auto;
}

/* アコーディオンパネル */
dt {
  line-height: 35px;
  height: 35px;
  font-size: large;
  text-indent: 1em;
  font-weight: bold;
  color: white;
  background-color: rgba(117, 88, 67, 0.562);
  border-bottom: 1px solid white;
}

dd {
  margin: 0;
  background-color: #d4d4d4;
}

dd p {
  margin: 0;
  padding: 20px;
}

dd:hover {
  background-color: #d4d4d4ac;
  cursor: pointer;
}

dt.selected {
  background-color: rgb(118, 74, 60);
  color: rgb(160, 223, 116);
}

.question {
  margin: 0 auto;
  text-align: center;
  width: 600px;
}

/* モバイル版 */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (max-width: 660px) {
  .page-title {
    font-size: 2.5rem;
  }

  .menu_nav {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .home-content {
    padding-top: 50px;
  }

  .home-content h3 {
    font-size: 1rem;
  }

  .button {
    margin-bottom: 30px;
  }

  .nav {
    width: 100%;
    position: fixed;
    bottom: 0;
    height: 55px;
    background-color: rgb(117, 88, 67);
    overflow-x: auto;
    z-index: 1;
  }

  .nav__link {
    margin-left: 0;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    color: white;
    font-size: 11px;
    transition: background-color 0.2s ease-in-out;
  }

  .nav__link i {
    display: contents;
  }

  .nav__link:hover {
    color: rgba(161, 223, 116, 0.699);
    background-color: rgba(203, 203, 203, 0.406);
  }

  .page-header {
    flex-direction: column;
    align-items: center;
  }

  #news .page-title {
    margin-top: 30px;
  }

  .post-info {
    margin-bottom: 30px;
  }

  .post-title {
    font-size: 1.37;
  }

  /* Menu */
  .question {
    width: 300px;
  }

  /* Contact */

  #place .page-title {
    margin-top: 40px;
  }

  /* 店舗情報 */

  #location .wrapper,
  #sns .wrapper {
    flex-direction: column;
  }

  .location-info,
  .location-map,
  .sns-box {
    width: 100%;
  }

  .sns-box {
    margin-bottom: 30px;
  }
}
